<head>
    <!-- Latest compiled and minified CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.css">
    
    <script src="../node_modules/bootstrap/dist/js/bootstrap.js" ></script>
    <title>Node.js Chat</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md1">
                <button type="button" class="btn btn-default">#Bitcoin</button>
            </div>
            <div class="col-md1">
                <button type="button" class="btn btn-primary">#Litecoin</button>
            </div>
            <div class="col-md1">
                <button type="button" class="btn btn-success">#Ethereneum</button>
            </div>
            <div class="col-md1">
                <button type="button" class="btn btn-info">#Ripple</button>
            </div>
        </div>
        <div class="row">
            <textarea class="form-control" rows="3"></textarea>
        </div>
        <div class="row">
            <button type="button" class="btn btn-primary">Send</button>
        </div>
    </div>

</body>